
.metadata/.lock
.metadata/.log
.metadata/.plugins/org.eclipse.core.resources/.history/1/e00851726ac5001a1616927771ea6875
.metadata/.plugins/org.eclipse.core.resources/.history/13/20e2bf046ec5001a1616927771ea6875
.metadata/.plugins/org.eclipse.core.resources/.history/1c/10d842726ac5001a1616927771ea6875
.metadata/.plugins/org.eclipse.core.resources/.history/21/d09e9e056dc5001a1616927771ea6875
.metadata/.plugins/org.eclipse.core.resources/.history/25/b0d5db536bc5001a1616927771ea6875
.metadata/.plugins/org.eclipse.core.resources/.history/2c/00270d496cc5001a1616927771ea6875
.metadata/.plugins/org.eclipse.core.resources/.history/34/909f41726ac5001a1616927771ea6875
.metadata/.plugins/org.eclipse.core.resources/.history/38/1017e1726ec5001a1616927771ea6875
.metadata/.plugins/org.eclipse.core.resources/.history/47/c06378756ec5001a1616927771ea6875
.metadata/.plugins/org.eclipse.core.resources/.history/5/c0fc201669c5001a1616927771ea6875
.metadata/.plugins/org.eclipse.core.resources/.history/55/10288d956bc5001a1616927771ea6875
.metadata/.plugins/org.eclipse.core.resources/.history/5c/309488956bc5001a1616927771ea6875
.metadata/.plugins/org.eclipse.core.resources/.history/63/c0caeede6dc5001a1616927771ea6875
.metadata/.plugins/org.eclipse.core.resources/.history/66/102cc2046ec5001a1616927771ea6875
*.index
*.png
*.cfs
*.gen
.metadata/.plugins/org.eclipse.core.resources/.history/69/50fe9aad6bc5001a1616927771ea6875
.metadata/.plugins/org.eclipse.core.resources/.history/a8/50c74a726ac5001a1616927771ea6875
.metadata/.plugins/org.eclipse.core.resources/.history/8a/c0d84b726ac5001a1616927771ea6875
ld1a-enterprise-app-bootstrap/.classpath
.metadata/.plugins/org.eclipse.core.resources/.history/d6/d0fa189269c5001a1616927771ea6875
*.dat
*.prefs
.metadata/.plugins/org.eclipse.core.resources/.history/73/00754c726ac5001a1616927771ea6875
.metadata/.plugins/org.eclipse.core.resources/.history/87/f0f870b96cc5001a1616927771ea6875
.metadata/.plugins/org.eclipse.core.resources/.history/79/c0f389956bc5001a1616927771ea6875
.metadata/.plugins/org.eclipse.core.resources/.history/a4/20da5d726ac5001a1616927771ea6875
.metadata/.plugins/org.eclipse.core.resources/.history/de/d0faae5b6ec5001a1616927771ea6875
.metadata/.plugins/org.eclipse.core.resources/.history/fa/d0f7bc016dc5001a1616927771ea6875
.metadata/.plugins/org.eclipse.core.resources/.history/6d/a038bc046ec5001a1616927771ea6875
.metadata/.plugins/org.eclipse.core.resources/.history/93/5014feff6dc5001a1616927771ea6875
.metadata/.plugins/org.eclipse.core.resources/.history/b5/b0d5c8596ec5001a1616927771ea6875
.metadata/.plugins/org.eclipse.core.resources/.history/c4/d040a5386ec5001a1616927771ea6875
.metadata/.plugins/org.eclipse.core.resources/.history/e0/601667ff6bc5001a1616927771ea6875
.metadata/.plugins/org.eclipse.core.resources/.history/f/b0ddcf276ec5001a1616927771ea6875
.metadata/.plugins/org.eclipse.core.resources/.history/fe/50ab3b0f6cc5001a1616927771ea6875
*.tree
*.snap
*.js
ld1a-enterprise-app-bootstrap/.project
*.resources
*.xmi
*.history
*.lifecyclemapping
*.lock
*.del
*.launch
*.ser
*.container
*.log
*.MF
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments_2
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments_5
.metadata/.plugins/org.eclipse.m2e.core/nexus/bde51c6a0fa4c3ad920e4253f5d02f5c/segments_g
.metadata/.plugins/org.eclipse.m2e.core/workspacestate.properties
.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.16.0.20200318-1040.xml
.metadata/.plugins/org.eclipse.tm.terminal.view.ui/.executables/data.properties
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
.metadata/.plugins/org.eclipse.wst.xml.core/default_catalog.xml
.metadata/.plugins/org.eclipse.wst.xml.core/system_catalog.xml
.metadata/version.ini
